@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-border: #dbdcde;
  --color-green: #00a651;
  --color-green-second: #2eb670;
}
html,
body {
  background: #f7f7f7;
  color: #2f2f30;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 32px;
}

svg {
  stroke: currentColor;
}
